@import '../app/globals.scss';

.expe {
  padding: 4rem 0;
  height: 100%;
  width: 100%;
  > .expe-head {
    font-size: 2.8rem;
    font-weight: bold;
    color: $dark-font;
  }
  > .expe-desc {
    font-size: 1.35rem;
    color: $dark-font;
    margin: 2rem 0;
  }
  > .expe-main {
    height: 78%;
    width: 100%;
    overflow-y: scroll;
    @include flex-property(center, space-around);
    flex-wrap: wrap;
    > .expe-box {
      width: 46%;
      height: 14rem;
      background-color: $dark-box-bg;
      border-radius: 0.5rem;
      padding: 2rem 3rem;
      margin-bottom: 1rem;
      @include flex-property(flex-start, space-between);
      flex-direction: column;
      > div {
        > .expe-year {
          font-size: 1.35rem;
          font-weight: bold;
          color: $common-green;
          margin-bottom: 0.8rem;
        }
        > .expe-role {
          font-size: 1.5rem;
          font-weight: bolder;
          color: $dark-font;
        }
      }
      > .expe-com {
        font-size: 1.35rem;
        font-weight: bold;
        color: $dark-font;
        > i {
          margin-right: 0.5rem;
          color: $common-green;
        }
      }
    }
  }
  .expe-main::-webkit-scrollbar {
    width: 0.8rem;
  }
  .expe-main::-webkit-scrollbar-thumb {
    background: $common-green;
    border-radius: 1rem;
    cursor: grabbing;
  }
}
