@import '../app/globals.scss';

.work {
  width: 100%;
  background-color: $dark-bg;
  height: 85vh;
  @include flex-property(space-around, center);
  > .work-main {
    padding: 6rem 0 0 0;
    width: $common-width;
    > .work-slider {
      width: 100%;
      height: 77%;
      padding-right: 0.5rem;
      overflow-y: scroll;
      > .slider {
        width: 100%;
        height: 100%;
        @include flex-property(center, space-between);
        > .slider-box {
          width: 50%;
          height: 100%;
          @include flex-property(flex-start, flex-start);
          border-bottom: 1px solid $dark-font;
          flex-direction: column;
          > .slider-num {
            font-size: 7rem;
            font-weight: bold;
            color: $dark-font;
          }
          > .slider-name {
            font-size: 3rem;
            font-weight: bolder;
            color: $dark-font;
          }
          > .slider-desc {
            font-size: 1.4rem;
            color: $dark-font;
            padding-top: 2rem;
          }
          > .slider-tech {
            font-size: 1.8rem;
            font-weight: bold;
            padding: 2rem 0 3rem 0;
            border-bottom: 1px solid $dark-font;
            color: $common-green;
          }
          > .slider-link {
            padding-top: 2rem;
            > a {
              text-decoration: none;
              > i {
                font-size: 2.25rem;
                color: $dark-font;
                background-color: $dark-box-bg;
                padding: 1.25rem;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 2rem;
                transition: all 0.2s linear;
              }
            }
            > a:hover {
              > i {
                color: $common-green;
              }
            }
          }
        }
        > .slider-img {
          width: 46%;
          height: 100%;
        }
      }
    }
    .work-slider::-webkit-scrollbar {
      width: 0.8rem;
    }
    .work-slider::-webkit-scrollbar-thumb {
      background: $common-green;
      border-radius: 1rem;
      cursor: grabbing;
    }
  }
}
