@import '../globals.scss';

.resume {
  width: 100%;
  background-color: $dark-bg;
  height: 85vh;
  @include flex-property(space-around, center);
  > .resume-main {
    width: $common-width;
    @include flex-property(center, space-between);
    > .resume-options {
      width: 32%;
      height: 100%;
      padding: 4rem 0;
      @include flex-property(flex-start, flex-start);
      flex-direction: column;
      > .resume-ask {
        font-size: 4rem;
        color: $dark-font;
        font-weight: bold;
      }
      > .resume-pitch {
        margin-top: 2rem;
        font-size: 1.35rem;
        color: $dark-font;
      }
      > .resume-btn {
        margin-top: 2rem;
        text-decoration: none;
        font-size: 1.45rem;
        font-weight: bold;
        background-color: $dark-box-bg;
        color: $dark-font;
        width: 100%;
        padding: 1.5rem 0;
        text-align: center;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s linear;
      }
      > .resume-btn:hover {
        background-color: $common-green;
        color: $dark-bg;
      }
      > .resume-btn:focus {
        background-color: $common-green;
        color: $dark-bg;
      }
    }
    > .resume-desc {
      width: 60%;
      height: 100%;
    }
  }
}
